<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.imagetest">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".Application"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="false"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ImageProcessActivity" />
        <activity android:name=".ImageTestActivity" />
        <activity android:name=".RoundCornerActivity" />
        <activity android:name=".ListBigImageActivity" />
        <activity android:name=".BigPicActivity" />
        <activity android:name=".AspectViewActivity" />
        <activity android:name=".ImageAnimActivity" />
        <activity
            android:name=".ImageActivity"
            android:theme="@style/NoTitleBar" />
        <activity android:name=".StateImageActivity" />
        <activity android:name=".ImageLoadActivity" />
        <activity android:name=".MemoryTestActivity" />
        <activity android:name=".View2BitmapActivity" />
        <activity android:name=".BlurTestActivity"
            android:hardwareAccelerated="false">
        </activity>
    </application>

</manifest>